.lagarochregler {
    font-size: 50px;
    text-align: center;
    margin: 50px;
  }
  .lagarochreglertext {
    font-size: 23px;
    margin-right: 170px;
    margin-left: 170px;
  }
  .GDPR {
      margin-left: 150px;
  }
  .upphovsratt {
      margin-left: 150px;
  }
  .LEK {
      margin-left: 150px;
  }